<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css"/>
<style>
    span{
        display: block;
    }
    .row{
        flex-direction: row;
    }
    .name{
        width:35%;
        font-weight:bolder;
        
    }
    .title{
        font-size:25px;
        padding-bottom:7px
    }
    .text{
        /* font-size:12px; */
        padding-bottom:5px
    }
    .td{
        font-size: 9px;
        text-transform: uppercase;
        border-width:0 0 1px;
        border-top:1px solid #dbdbdb;
        padding-top:7.5px;
        padding-bottom:7.5px;
        padding-left:7.5px;
        padding-right:7.5px;
        width: 10%;
        text-align: left,        

    }
    .th{
        font-size: 9px;
        border-width:0 0 1px;
        border-bottom:1px solid #dbdbdb;
        padding-top:5px;
        padding-bottom:5px;
        padding-left:7.5px;
        padding-right:7.5px;
        width: 10%;
        text-align: left,        

    }
    .description {
        width: 100%;
        text-align: left;
        padding:0.5em 0.75em;
        padding-left: 8,
    }
    .qty{
        padding:0.5em 0.75em;
        width: 100%;
        text-align: right;
        padding-right: 8,
    }
    .rate {
        padding:0.5em 0.75em;
        width: 100%;
        text-align: right;
        padding-right: 8;
    }
    .amount {
        padding:0.5em 0.75em;
        width: 100%;
        text-align: right;
        padding-right: 8;
    }
    .leftConent{
        text-align:left;
        width:50%;
        font-size:10px;
        padding:5px;
        border-top:1px solid #dbdbdb
    }
    .rightContent{
        text-align:right;
        padding:5px;
        width:50%;
        font-size:11px;
        border-top:1px solid #dbdbdb
    }
</style>
<div>
    <div>
        <div>
            <div style="overflow: auto;"}}>
                <div style="float:left">
                    <span class="title" >Rama Medicose</span>
                    <span class="text">T-23 Shanti Nager Delhi</span>
                    <span class="text">9878987678</span>
                    <span class="text">22AAPSO78213Z9</span>
                </div>
                <div style="float: right;text-align: right"}}>
                    <span class="title">Inovice</span>
                    <span class="text">Inovice Number : {invoiceNumber}</span>
                    <span class="text"> Date : {date}</span>
                </div>
            </div>
            <div style="margin-top:20px"}}>
                <span style="font-size:20px"}}>Bill to</span>
                <span class="text">Anuj Kumar (12)</span>
                <span class="text">Male</span>
            </div>
        </div>





        <div style="margin-top:30">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th  style="width:5%">SN.</th>
                        <th >Name</th>
                        <th >MRP</th>
                        <th >Qty</th>
                        <th >Discount</th>
                        <th >SGST</th>
                        <th >CGST</th>
                        <th >Total</th>                    
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td  style="width:5%">1</td>
                        <td class="name">Anodyine</td>
                        <td >5</td>
                        <td >5</td>
                        <td >23.4</td>
                        <td >7.65</td>
                        <td >7.65</td>
                        <td >23.23</td> 
                    </tr>
                    <tr>
                        <td colspan="3" rowspan="6" style="vertical-align: middle;font-size: 22px;">Payment mode</td>
                    </tr>
                    <tr>
                        <td colspan="3">Gross Amount</td>
                        <td colspan="3">sdf</td>
                    </tr>
                    <tr>
                        <td colspan="3">Discount</td>
                        <td colspan="3">0</td>
                    </tr>
                    <tr>
                        <td colspan="3">CGST</td>
                        <td colspan="3">0</td>
                    </tr>
                    <tr>
                        <td colspan="3">SGST</td>
                        <td colspan="3">sdf</td>
                    </tr>
                    <tr>
                        <td colspan="3">Net Amount</td>
                        <td colspan="3">0</td>
                    </tr>






                </tbody>
            </table>
        </div>

        <!-- <div style="margin-top: 30px;">
            <div class="row">
                <span class="th" style="width:5%">SN.</span>
                <span class="th name" >Name</span>
                <span class="th">MRP</span>
                <span class="th">Qty</span>
                <span class="th">Discount</span>
                <span class="th">SGST</span>
                <span class="th">CGST</span>
                <span class="th">Total</span>
            </div>



            <div class="row">
                <span class="td" style="width:5%">{i+1}</span>
                <span class="td name">{item.name}</span>
                <span class="td">{item.price}</span>
                <span class="td">{item.qty}</span>
                <span class="td">{(item.price*item.qty*item.discount/100).toFixed(2)}</span>
                <span class="td">{(item.price*item.qty*gst/100/2).toFixed(2)}</span>
                <span class="td">{(item.price*item.qty*gst/100/2).toFixed(2)}</span>
                <span class="td">{(item.qty * item.price).toFixed(2) - (item.price*item.qty*item.discount/100).toFixed(2)}</span>
            </div>


            <div class="row">
                <span class="td" style="width:50%;font-size:15px;text-transform:capitalize;border-top:1px solid #dbdbdb">
                    Payment Mode: {paymentmode}
                </span>
                <div style="display:flex;flex-direction:column;width:50%">
                    <div class="row">
                        <span class="leftConent">
                            Gross Amount
                        </span>
                        <span class="rightContent"> {totals.gross} </span>
                    </div>

                    <div class="row">
                        <span class="leftConent">
                            Discount
                        </span>
                        <span class="rightContent">{totals.discount} </span>
                    </div>

                    <div class="row">
                        <span class="leftConent">
                            CGST
                        </span>
                        <span class="rightContent"> {totals.gst} </span>
                    </div>

                    <div class="row">
                        <span class="leftConent">
                            SGST
                        </span>
                        <span class="rightContent">{totals.gst} </span>
                    </div>

                    <div class="row">
                        <span class="leftConent",style="font-size:13px"}}>
                            Net Amount
                        </span>
                        <span class="rightContent" style="font-size:13px">{totals.total} INR</span>
                    </div>
                </div>
            </div>






        </div> -->
    </div>
</div>
